# --- Dependencies ---
node_modules/

# --- Build Output (Frontend) ---
dist/

# --- System Files ---
.DS_Store

# --- Secrets & Configs (CRITICAL) ---
.env
.env.*
.runtimeconfig.json

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*